body {
    background-color: rgb(89, 89, 89);
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-weight: normal;
}
td.personText{
    color:rgb(214,211,155);
}
td.errorText{
    color:rgb(255, 0, 0);
}
td.statusText{
    color:rgb(188, 96, 73);
}
td:first-child{
    font-style: italic;
    color:rgb(222,227,224);
    width:150px;
}
.ticketInfoText{
    color:rgb(160,160,152);
}
tr.spaceUnder > td
{
  padding-bottom: 1em;
}
.big-bullet{
    color:rgb(110, 178, 122);
    font-size:300%;
}